<%- include partials/header %>
	<div class="container-fluid">
		<div class="container" style="min-height:10em;">
			<p>Hello
				<%-userData[0].id %>
			</p>
			<div class="table">
				<div class="table-header">hi</div>
				<div class="table-row">hi</div>
			</div>
			<a href='/create' class="btn btn-primary">Create new</a>
		</div>


		<br />
		<%- include partials/footer %>