<%- include partials/header %>

    <div class="container-fluid">
        <div class="container">
            <div class="col-md-6 offset-md-3">
                <h3 class="text-center"> Home </h3>
            </div>
        </div>
    </div>

    <br />
    <%- include partials/footer %>