<%- include partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4" id="#loginBox">
                <div class="account-wall">
                    <form class="form-signup" action="/join" , method="POST">
                        <input type='text' name='firstName' class='form-control' placeholder='First name' autofocus />
                        <input type='text' name='lastName' class='form-control' placeholder='Last name' />
                        <input type='text' name='username' class='form-control' placeholder='Email' required />
                        <input type='password' name='password' class='form-control' placeholder='Password' required />
                        <button class='btn btn-lg btn-primary btn-block' type='submit'> Join</button>
                        <span class="clearfix"></span>

                        <a href='/login' class='text-center new-account'> Already have an account? Sign in.</a>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <br />
    <%- include partials/footer %>